body {
    font-family: Arial, serif;
    font-style: italic;
    background-color: #f8f9fa;
}

.navbar-brand, .nav-link {
    font-weight: bold;
}

footer {
    background-color: #e9ecef;
}

.card-title {
    font-size: 1.25rem;
}

/*limiter la taille des images dans le carousel de la page d'accueil */
.carousel-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: auto;         
}