body {
    font-family: Arial, serif;
    font-style: italic;
    background-color: #f8f9fa;
}

.navbar-brand, .nav-link {
    font-weight: bold;
}

footer {
    background-color: #e9ecef;
}

.card-title {
    font-size: 1.25rem;
}

/*limiter la hauteur des images dans le carousel de la page d'accueil */
.carousel-item img {
    max-height: 400px;  
    object-fit: cover;
    width: 50%;
  }